default: &default
  adapter: mysql2
  encoding: utf8mb4
  collation: utf8mb4_unicode_ci
  host: localhost
  port: 3306
  pool: 5

development:
  <<: *default
  adapter: mysql2
  database:
  host: localhost
  encoding: utf8mb4
  collation: utf8mb4_unicode_ci
  username:
  password:

test:
  <<: *default
  database:
  username:
  password:
