<div class="content">
  <div class="row function-name">
    <div class="col-md-10 offset-md-1 col-12 pt-3 pb-3">
      <h2><%= t(".title") + @subject.name %></h2>
      <h4 class="text-muted"><%= t(".content") + @subject.content %></h3>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-10 offset-md-1">
      <% if @current_user&.admin? %>
        <ul class="list-group">
          <div class="d-inline">
            <div class="float-left">
            </div>
            <div class="float-right">
              <%= link_to t(".create_subject"), new_admin_subject_question_path(@subject), class: "btn btn-primary" %>
            </div>
          </div>
          <br>
        </ul>
      <% end %>
    </div>
  </div>
</div>
